.footer-social .twitter {
  background: url("img/twitter.svg") no-repeat; 
}
.footer-social .facebook {
  background: url("img/fb-icon.svg") no-repeat; 
}
.footer-social .youtube {
  background: url("img/youtube.svg") no-repeat; 
}
