.footer-social {
	display: flex;
}
.twitter {
  background: #81b3d2 url("../img/twitter.svg") no-repeat;
  width: 30px;
  height: 30px;
  background-position: 50% 50%;
}
.facebook {
  background: #81b3d2 url("../img/fb-icon.svg") no-repeat;
  width: 30px;
  height: 30px;
  background-position: 50% 50%;
}
.youtube {
  background: #81b3d2 url("../img/youtube.svg") no-repeat;
  width: 30px;
  height: 30px;
  background-position: 50% 50%;
}
.footer-social a {
	display: flex;
	width: 30px;
	height: 30px;
}
.footer-social a:focus {
outline: none;
	box-shadow:
		0 0 0 1px #fff,
		0 0 0 2px #81b3d2;
}
.sorting-arrows a {
	display: flex;
	width: 15px;
	height: 15px;
}
.sorting-arrows a:focus {
	outline: none;
	box-shadow:
		0 0 0 1px #fff,
		0 0 0 2px #81b3d2;
}
li {
	list-style: none;
}
.rating-stars li {
	background: url("../img/star.svg") no-repeat;
}
.sorting-arrows .up {
	background: url("../img/icon-up-dir.svg") no-repeat;
}
.sorting-arrows .down {
	background: url("../img/icon-down-dir.svg") no-repeat;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}