*, *::before, *::after, *:before, *:after {
 box-sizing: border-box;
}
html {
 box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
}
.inner-page {
	background-image: none;
}
a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
	min-height: 56px;
	display: flex;
	margin: 0 70px
}
.site-navigation {
	list-style: none;
	font-weight: 700;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-left: 0px;
	padding-right: 0px;

}
.site-navigation li {
	width: 300px;
}
.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
	text-align: left;
}
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;
}
/*a .main-header-logo {
	height: 56px;
	margin-top: 0;

}*/
/*.site-navigation li {
	padding-top: 15px;
}*/
.main-header-logo {
	position: absolute;
	top: 0px;
	left: 605px;
}
.site-navigation a {
	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}
.site-navigation a:active {
	color: #cacaca;
}
.site-navigation-current a {
	color: #766357;
}
.site-navigation-current a:hover,
.site-navigation-current a:focus {
	color: #766357;
}

.container {
	background-color: #ffffff;
	color: #333333;
	text-align: center;

	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid transparent;
}
/*.container ul, .container li {
	padding: 0;
	margin: 0;
}*/
.reasons ul {
	padding: 0;
	margin: 0;
}
/*.main-footer ul {
	padding: 0;
	margin: 0;
}*/
.index {
	background-image: 
			url("../img/intro-mask.svg"),
			url("../img/intro-welcome.svg"),
			url("../img/background-main.jpg");
	background-size:
			auto auto,
			460px 355px,
			auto auto;
  	background-position:
  			center 453px,
  			50% 50px,
  			top center;
  	background-repeat:
  			no-repeat, 
  			no-repeat,
  			no-repeat;
}
.index-row-first {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	justify-content: center;
	align-items: center;
	min-height: 215px;
	width: 100%;
	margin-top: 510px;
	padding-left: 355px;
	padding-right: 355px;
}
.index-row-second {
	display: flex;
	flex-direction: row;
	min-height: 256px;
	width: 1200px;
	background-color: #81b3d2;
	align-items: center;
	justify-content: space-between;
}
.index-row-second-inner-first {
	width: 300px;
	height: 155px;
	margin-left: 50px;
}
.index-row-second-inner-second {
	width: 800px;

}
.index-row-third {
	width: 300px;
	padding-bottom: 80px;

}
.index-row-fourth {
	display: flex;
	flex-direction: row;
	min-height: 256px;
	width: 1200px;
	background-color: #81b3d2;
	align-items: center;
	justify-content: space-between;
}
.index-row-fourth-inner-first {
	width: 800px;
}
.index-row-fourth-inner-second {
	
	width: 310px;
	height: 155px;
	margin-right: 45px;
}

.index-row-fifth {
	display: flex;
	justify-content: space-around;
	background-color: #eeeeee;
	list-style: none;
}
.index-row-sixth {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 290px;
	margin-top: 55px;
	align-items: center;
}
.index-row-sixth-inner-first {
	width: 450px;
}
.index-row-sixth-inner-second {
	margin-top: 50px;
}
.index-row-footer {
	display: flex;
	min-height: 595px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/*background-image: url("../img/map.jpg");
	background-repeat: no-repeat;*/
}
.index-row-footer img {
	position: absolute;
}
.index-row-footer-inner-first {
	width: 575px;
	min-height: 395px;
	background-color: #ffffff;
}
.index-row-first h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

	color: #000000;
}
/*.container p:first-child {
	font-size: 14px;
	line-height: 26px;
}*/
.reasons-list li {
	list-style: none;
}
.reason-heading {
	font-size: 21px;
	line-height: 21px;

	color: #ffffff;
}
.subreason {
	background-color: #81b3d2;
	color: #ffffff;
}
ul .reasons-list-sub {
	background-color: #ffffff;
	display: flex;
	justify-content: space-around;
	padding-top: 60px;
}
.reasons-list-sub {
	color: #333333;
}
.reasons-list-sub b {
	color: #000000;
  font-size: 21px;
  line-height: 26px;
}
.icon {
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 0 auto;
	margin-bottom: 30px;
}
.icon-1 {
	
	background-image: url("../img/icon-1.svg");
}
.icon-2 {
	background-image: url("../img/icon-2.svg");
}
.icon-3 {
	background-image: url("../img/icon-3.svg");
}
.reason-item-no-image {
	background-color: #eeeeee;
	color: #333333;
	width: 275px;
}
.reason-item-no-image .reason-heading {
	color: #000000;
	font-size: 21px;
}
.lead-magnet {
	background-color: #ffffff;
	color: #333333;
	line-height: 24px;
}
.lead-magnet-heading {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	font-weight: 700;
}
.hotel-search-index {
	width: 575px;
	margin: auto;
	padding-top: 55px;
	padding-bottom: 55px;
	position: relative;
	background-color: #ffffff;
}
.index-form-button {
	border-top: 1px solid transparent;
	display: flex;
	width: 575px;
	box-sizing: border-box;
	justify-content: center;
	background-color: #766357;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	margin: 0 auto;
	padding-top: 31px;
	padding-bottom: 31px;

}
.index-form-button:hover,
.index-form-button:focus {
	background-color: #604e43;
}
.index-form-button:active {
	background-color: #503e33;
	color: #928a85;
}
.hotel-search-index input {
	background-color: #f2f2f2;
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	border: none;
}
.hotel-search-index input:hover {
	background-color: #ebebeb;
}
.hotel-search-index input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}
.hotel-search-index label {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}
.index-button {
	width: 458px;
	border: none;
	font-family: "PT Sans", Arial, sans-serif;
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 22px;
	padding-bottom: 22px;
	margin: auto;
	margin-top: 55px;
	cursor: pointer;
}
.index-button:hover,
.index-button:focus {
	background-color: #669ec0;
	outline: none;
}
.index-button:active {
	background-color: #5496bd;
	color: #88b6d1;
	text-decoration: none;
}
.check-in {
	/*margin: 30px 60px;*/
}
.check-in input {
	width: 345px;
	margin-left: 20px;
}
.check-out {
	/*margin: 30px 60px;*/
	margin-top: 30px;
}
.check-out input {
	width: 345px;
	margin-left: 20px;
}
/*.adl, .chdl {
	display: inline-flex;
	width: 230px;
	padding: 0;
}*/

.check-dates {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.people-amount {
	display: flex;
	/*justify-content: space-between;*/
	width: 460px;
	margin: 0 auto;
	margin-top: 30px;
}
.adl {
	/*margin-left: 10px;*/
}
.chld {
	margin-left: 50px;
}
.adl input, .chld input {
	width: 112px;
}
.adl input {
	margin-left: 40px;
}
.chld input {
	margin-left: 29px;
}
/*.map {
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	height: 473px;
}*/
.main-footer {
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	min-height: 120px;
}
ul.footer-social {
	width: 155px;
	margin-left: 255px;
	display: flex;
	list-style: none;
	text-align: center;
}
.footer-copyright {
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 225px;
	text-align: center;
}
.htmlacademy-copyright {
	margin-top: 10px;
}
.form-catalog {
	background-image: url("../img/background-catalog.jpg");
	background-color: #647785;
}
.form-catalog ul {
	list-style: none;
}
.hotel-filters-search {
	display: flex;
	justify-content: space-between;
	min-height: 220px;
	width: 100%;
}
.hotel-filters-search > div {
	margin-top: 30px;
}
.form-catalog-details {
	margin-left: 73px;
	text-align: left;
}
.hotel-filters-search ul {
	padding: 0;
	margin: 0;
}
.form-catalog-price {
	margin-left: 250px;
	display: flex;
	flex-direction: column;
}
.hotel-search-filter-results ul {
	padding: 0;
	margin: 0;
}
ul.hotels-list {
	padding: 0;
	margin: 0;
}
.hotel-filters {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	font-weight: 700;
}
.hotel-filters-list, .hotels-price-range {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #ffffff;
}
.hotel-filters-list input[type="checkbox"] {
	margin-top: 28px;
}
.hotels-price-range input[type="number"] {
	background-color: rgba(0,0,0,0);
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 2px;
	text-align: center;
}
.catalog-show {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	background: #ffffff;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #ffffff;
	border-radius: 2px;
	padding: 8px 35px;
	cursor: pointer;
}
.catalog-show:hover,
.catalog-show:focus {
	background-color: #ffffff;
	color: #000000;
}
.catalog-show:active {
	outline: none;
}
.hotel-search-filter-results {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	min-height: 85px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #b1b1b1;
}
.sorting {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}
.sorting-markers {
	list-style: none;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}
.founded {
	margin-left: 45px;
}
.sorting {
	margin-left: 50px;
}
.sorting-markers li:first-child {
	margin-left: 40px;
}
.sorting-markers li:nth-child(2),
.sorting-markers li:nth-child(3) {
	margin-left: 35px;
}
ul.sorting-arrows {
	margin-left: 505px;
}
.sorting-markers a {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #b1b1b1;
	border-bottom: 1px dotted #81b3d2;
}
.sorting-markers a:hover,
.sorting-markers a:focus {
	color: #81b3d2;
}
.sorting-markers a:active {
	color: #231f20;
	border-bottom: none;
}
.current-filter {
	list-style: none;
}
.current-filter a {
	color: #81b3d2;
	border-bottom: none;
}
.sorting-arrows {
	list-style: none;
	display: flex;
}
.hotels-list {
	list-style: none;
}
.hotel-item-heading h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
}
.hotel-item-heading h2:hover,
.hotel-item-heading h2:focus {
	color: #81b3d2;
}
.hotel-item-heading h2:active {
	color: #cacaca;
}
.hotel {
	display: flex;
	min-height: 148px;
	border-bottom: 1px solid #b1b1b1;
}
.rating {
	display: block;
	/*height: 27px;
	width: 111px;*/
	background-color: #f2f2f2;
	color: #666666;
	padding: 6px 15px;
	margin-top: 20px;
	margin-right: 10px;
}
span .hotel-price:nth-of-type(1) {
	margin-left: 40px;
}
span .hotel-price:nth-of-type(2) {
	margin-left: 65px;
}
span .hotel-price:nth-of-type(3) {
	margin-left: 20px;
}
.button-more {
	background-color: #81b3d2;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
}
.button-book {
	background-color: #766357;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	margin-left: 5px;
}
a.button-more,
a.button-book {
	color: #ffffff;
}
a.button-more:hover,
a.button-more:focus {
	background-color: #669ec0;
}
a.button-more:active {
	background-color: #5496bd;
	color: #94b9d2;
}
a.button-book:hover,
a.button-book:focus {
	background-color: #604e43;
}
a.button-book:active {
	background-color: #503e33;
	color: #928a85;
}
/*.main-footer {
	background-color: rgba(255, 255, 255, 0.5);
}*/
/*.hotels-flex {
	display: flex;
	min-height: 148px;
	align-items: center;
}*/
.hotel-flex-inner-1 {
	margin-left: 73px;
	margin-top: 30px;
}
.flex-heading {
	margin-top: 26px;
}
.hotel-flex-inner-2 {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}
.price-types {
	display: flex;
	margin-top: 5px;
}
.more-book-buttons {
	display: flex;
	margin-top: 8px;
}
.hotel-flex-inner-3 {
	display: flex;
	flex-direction: column;
	margin-left: 520px;
	align-items: flex-end;
}
article h2 {
	margin: 0;
	padding: 0;
	text-align: left;
}
.hotel-category {
	width: 110px;
	text-align: left;
}
.sedona-hashtag {
	width: 140px;
	margin-left: 130px;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
  font-weight: 700;
  color: #000000;
}
/*.footer-social {
	display: flex;
	list-style: none;
}*/
.twitter {
  background: #81b3d2 url("../img/twitter.svg") no-repeat;
  width: 48px;
  height: 48px;
  background-position: 50% 50%;
}
.facebook {
  background: #81b3d2 url("../img/fb-icon.svg") no-repeat;
  width: 48px;
  height: 48px;
  background-position: 50% 50%;
  margin-left: 5px;
}
.youtube {
  background: #81b3d2 url("../img/youtube.svg") no-repeat;
  width: 48px;
  height: 48px;
  background-position: 50% 50%;
  margin-left: 5px;
}
.footer-social a {
	display: flex;
	width: 48px;
	height: 48px;
}
.footer-social a:hover,
.footer-social a:focus {
	background-color: #669ec0;
	outline: none;
	/*box-shadow:
		0 0 0 1px #fff,
		0 0 0 2px #81b3d2*/
}
.footer-social a:active {
	background-color: #5496bd;
	color: #88b6d1;
	text-decoration: none;
}
.footer-copyright {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
}
.sorting-arrows a {
	display: flex;
	width: 15px;
	height: 15px;
}
.sorting-arrows a:focus {
	outline: none;
	box-shadow:
		0 0 0 1px #fff,
		0 0 0 2px #81b3d2;
}
.rating-stars {
	display: flex;
	margin-top: 32px;
}
.rating-stars .star {
	background: url("../img/star.svg") no-repeat;
	width: 30px;
	height: 30px;
}
.sorting-arrows .up {
	background: url("../img/icon-up-dir.svg") no-repeat;
}
.sorting-arrows .down {
	background: url("../img/icon-down-dir.svg") no-repeat;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
